* {
    box-sizing: border-box;
}

html,
body {
    font-size: 1em;
    font-family: sans-serif;
    text-align: center;
}

h1 {
    font-size: 4rem;
    color: white;
}

a {
    text-decoration: none;
    font-size: .9rem;
}

header {
    margin-bottom: 1em;
}

.container {
    display: flex;
    flex-direction: column;
    max-width: 80%;
    margin: 0 auto;
    padding: 1em;
}

.banner {
    background: url(./banner.png);
    background-size: 100% 100%;
    padding: 5em;
    object-fit: contain;
    border-radius: .5em;
    margin-bottom: 3rem;
    padding-bottom: 8em;
}

.banner> p {
    color: white;
    padding-bottom: 1.5em;
}


.flex {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    gap: 2em;
}

.btn {
    padding: .8em 2em;
    border-radius: .4em;
    display: inline-block;
    margin-right: 1rem;
    background-color: aliceblue;
    color: rgb(9, 107, 213);
    font-weight: bold;
}

.signup-btn {
    padding: .8em 2em;
    border: none;
    border-radius: 5px;
    background-color: rgb(9, 107, 213);
    color: white;
    font-weight: bold;
}

article> div {
    text-align: left;
    font-size: .9rem;
    justify-items: flex-start;
}

.btn.blue {
    color: white;
    background: rgb(9, 107, 213);
}

.justify, 
a {
    color: rgb(116, 110, 110);
}

.dropdown {
    display: none;
}

.flex a:hover {
    border-bottom: 4px solid rgb(9, 107, 213);
}

article.flex div {
    text-align: center;
}

@media screen and (max-width: 660px) {
    body {
        margin: 0;
        font-size: .7rem;
    }
    .container {
        max-width: 100%;
    }

    h1 {
        font-size: 1rem;
    }

    a {
        font-size: .8rem;
    }

    p {
        font-size: .7rem;
    }

    .banner {
        display: flex;
        flex-direction: column;
        background: url(./banner.png);
        background-size: 100% 100%;
        width: 100%;
        height: 300px;
        margin-bottom: 1em;
        padding: 1em;
        border-radius: 10px;
        padding-top: 2.5em;
        padding-bottom: 2em;
        align-content: flex-start;
    }

    .btn {
        padding: .5em .5em;
        border-radius: .2em;
        background-color: aliceblue;
        color: rgb(9, 107, 213);
        font-weight: bold;
    }
    
    article.flex {
        flex-direction: column;
    }

    .btn-flex {
        font-size: 1rem;
        display: flex;
        flex-direction: column;
        gap: .8em;
    }

    .flex {
        display: flex;
        justify-content: space-around;
        align-items: flex-end;
        gap: .5em;
    }

    .signup-btn {
        padding: .3em .5em;
        border: none;
        border-radius: 3px;
        background-color: rgb(9, 107, 213);
        color: white;
        font-weight: bold;
    }

    .flex.sign {
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
        gap: 1.5em;
    }

    .dropdown {
        display: block;
    }

    .hidden {
        display: none;
    }

    .anchors {
        display: none;
    }

    .anchors-hidden {
        display: none;
    }

    .links {
        border: .5px solid rgb(9, 107, 213);
        color: white;
        background-color: rgb(9, 107, 213);
        font-size: 1rem;
        font-weight: bold;
        border-radius: 3px;
        /* gitbox-shadow: 2px 2px 2px lightslategray; */
        margin-bottom: 5px;
    }

    /* .dropdown:hover .anchors-hidden { *** This can be used when you don't want to use JavaScript
        display: flex;
        flex-direction: column;
        gap: 1em;
    } */

    /* .anchors-hidden a:hover {
        border-bottom: 2px solid rgb(9, 107, 213);
    } */

    .block {
        display: flex;
        flex-direction: column;
        gap: .5em;
    }

}